{% extends "layout.html" %} 
{% block title %}PurpleStats Dashboard{% endblock %}
{% block page %}Welcome to PurpleStats{% endblock %}

{% block content %}
<div class="center-wrapper">
  <div class="card white-text purple darken-2 z-depth-3" style="padding: 30px; padding-top: 0px; border-radius: 15px;">
    <div class="center-align" style="margin-top: 2rem;">
      <img src="https://upload.wikimedia.org/wikipedia/en/1/19/UWI_STA_Coat_of_Arms.png" alt="UWI Coat of Arms" style="max-width: 100px;">
    </div>
    
    <h4 style="margin-top: 0;">PurpleStats – Empowering UWI Data Insights</h4>
    
    {% if is_authenticated %}
      <p>Welcome, <strong>{{ current_user.username }}</strong> 👋</p>
    {% endif %}
    
    <p>
      PurpleStats is a dynamic platform developed for The University of the West Indies (UWI) to streamline the process of publishing insightful statistical reports. This tool allows administrators to upload raw data files and generate clear, interactive reports with charts that can be publicly shared.
    </p>

    <ul style="text-align: left; margin-top: 1rem;">
      <li>->Upload data files directly to the system</li>
      <li>->Filter reports based on your chosen category</li>
      <li>->Publish professional reports</li>
      <li>->Public access to statistical dashboards and insights</li>
      <li style="margin-top: 20px;">Sign up to get started!</li> 
    </ul>

   
    <div class="center" style="margin-top: 2rem;">
      <!-- <a href="/upload" class="btn-large waves-effect waves-light lavender lighten-3 deep-purple-text text-darken-4" style="border-radius: 10px;">
        Start Your Report
      </a> -->
    </div>
  </div>
</div>
{% endblock %}
